.image-text {
  $self: &;

  background-color: theme('colors.tertiary');
  display: grid;
  grid-template-columns: 1fr;

  &--content-right {
    @screen lg {
      padding-left: theme('padding[2.5]');
      padding-right: theme('padding.10');
    }
  }

  &--content-left {
    @screen lg {
      padding-left: theme('padding.10');
      padding-right: theme('padding[2.5]');
    }

    #{$self}__image {
      order: 1;

      @screen lg {
        order: 2;
      }
    }

    #{$self}__content-wrapper {
      order: 2;

      @screen lg {
        order: 1;
      }
    }
  }

  @screen lg {
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding: 0;
  }

  &__image {
    @screen lg {
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  &__content-wrapper {
    @include border($color: theme('colors.dark/7%'));
  
    background-color: theme('colors.primary');
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 0 15px theme('colors.dark/10%');
    padding: theme('padding.7') 0;

    @screen lg {
      border: none;
      box-shadow: none;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      padding: 4.5rem 5.75rem;
    }
  }

  &__content-inner {
    margin: auto;
    padding: 0 theme('padding[2.5]');
    text-align: center;

    @screen lg {
      align-self: center;
      max-width: 670px;
      padding: 0 3.75rem;
      text-align: left;
    }
  }

  &__pre-title {
    color: theme('colors.sunset');
  }

  &__title {
    color: theme('colors.forest-green');
    margin-top: theme('margin.2');

    @screen lg {
      margin-top: theme('margin[2.5]');
    }
  }

  &__copy {
    margin-top: 0.875rem;

    @screen lg {
      margin-top: theme('margin.5');
    }
  }

  &__cta {
    margin-top: theme('margin.7');

    @screen lg {
      margin-top: theme('margin.10');
    }
  }
}